<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>This is about page </h1>
<div th:insert="~{base::parent1}"></div>
<div th:insert="~{base::parent2(10,20)}"></div>
<!--conditional rendering-->
<div class="host-tag" th:replace=" ${isLogin}? ~{base::parent3(~{::section})}:~{base::test(~{::#not_loggedin})}">
    <section id="sec">
        User is logged In
    </section>
    <section id="not_loggedin">
        <h1>User is not Logged In</h1>
    </section>
</div>

</body>
</html>